

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #83b3e6;
    color: white;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 36px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.section {
    margin: 20px 0;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 16px;
}
.profile-image {
    max-width: 100%;
    border-radius: 50%;
}